*
{
    margin: 0;
    padding: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.container
{
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-wrap: wrap;
     
}
.musicplayer
{
    background-color:rgba(130, 122, 233, 0.476);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
   
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
nav .circle
{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background:white;
    color:#f53192;
    box-shadow: 0 5px 10px rgba(130, 122, 233, 0.476);

}
